.header {
  height: 70vh;
  position: relative;
  &__img {
    img {
      margin-top: 95px;
      object-fit: cover;
      width: 100vw;
      height: 70vh;
    }
  }
  &__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-white;

    h1 {
      font-size: 3.2rem;
      font-weight: 700;
    }
    time {
      font-size: 2.8rem;
    }
  }
}
